<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rmsja10.studyandroid">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Mission03Activity" />
        <activity android:name=".Mission04_CustomerActivity" />
        <activity android:name=".Mission01Activity" />
        <activity android:name=".Mission02Activity" />
        <activity android:name=".MissionLoginActivity" />
        <activity android:name=".Mission04_SalseActivity" />
        <activity android:name=".Mission04_ProductActivity"></activity>
    </application>

</manifest>